<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" th:href="@{/webjars/element-ui/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}"/>

    <!-- 引入组件库 -->
    <script type="text/javascript" th:src="@{/webjars/vue/vue.js}"></script>
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script type="text/javascript" th:src="@{/webjars/element-ui/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery-3.3.1.js}"></script>

    <title>登录页面</title>
</head>
<body>
<div id="loginApp" class="login-box">
    <div class="login-title">登录页面</div>
    <div class="login-center">
        <el-form ref="userForm" :model="user" :rules="userRules">
            <el-form-item prop="username">
                <el-input
                        v-model="user.username"
                        prefix-icon="el-icon-user"
                        placeholder="请输入账号"
                        clearable></el-input>
            </el-form-item>
            <el-form-item prop="password">
                <el-input
                        v-model="user.password"
                        prefix-icon="el-icon-lock"
                        placeholder="请输入密码"
                        show-password></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('userForm')">登录</el-button>
                <el-button @click="resetForm('userForm')">清空</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/login/login.js}"></script>
</html>