<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/webjars/element-ui/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/ibed/ibed.css}"/>

    <!-- 引入组件库 -->
    <script type="text/javascript" th:src="@{/webjars/vue/vue.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/element-ui/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery-3.3.1.js}"></script>

    <title>图床</title>
</head>
<body>
<div id="ibedApp">
    <div class="ibed-title">图床服务</div>
    <div class="ibed-center">
        <el-upload
            class="ibed-upload"
            drag
            action="/upload"
            multiple
            >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/ibed/ibed.js}"></script>
</html>