<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/css/plugins/bootstrap/bootstrap.css}" />

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script th:src="@{/js/plugins/jquery/jquery-3.3.1.js}"></script>

    <!-- popper.js 用于弹窗、提示、下拉菜单 -->
    <script th:src="@{/js/plugins/popper/popper.js}"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script th:src="@{/js/plugins/bootstrap/bootstrap.js}"></script>

    <title>系统用户登录界面</title>
</head>
<body>
<div class="container">
    <form action="/thymeleaf/login" method="post">
        <div class="form-group">
            <label for="user">用户名:</label>
            <input type="text" class="form-control" id="user" placeholder="请输入用户名" name="username" />
        </div>
        <div class="form-group">
            <label for="password">密码:</label>
            <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password" />
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" /> 记住我
            </label>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>

</body>
</html>